<div class="footer">
    <div id="button"><img src="../assets/images/flechader.webp" alt="" style="width: 20px; height: 30px;"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
          <div class="contact">
            <h3>Contact:</h3>
            <p><img src="../assets/images/email.webp" alt="email"> Email: soportevrakka@gmail.com</p>
          </div>
          <div class="social-icons">
            <a class="socialspace" href="https://t.me/vrkecosystem"><img src="../assets/images/telegramicon.webp" alt="telegram"></a>     
            <a class="socialspace" href="https://www.tiktok.com/@vrakkaofficial"><img src="../assets/images/tiktokicon.webp" alt="tiktok"></a>       
            <a class="socialspace" href="https://twitter.com/vrakkaofficial"><img src="../assets/images/twittericon.webp" alt="twitter"></a>
            <a class="socialspace" href="https://www.youtube.com/@vrakkaofficial1848/featured"><img src="../assets/images/youtubeicon.webp" alt="youtube"></a>
            <a class="socialspace" href="https://www.instagram.com/vrakkaofficial/"><img src="../assets/images/instaicon.webp" alt="instagram"></a>  
            <a class="socialspace" href="https://www.facebook.com/vrakkaofficial"><img src="../assets/images/facebookicon.webp" alt="facebook"></a>          
            <a class="socialspace" href="https://discord.com/invite/rhy6ed4d"><img src="../assets/images/discordicon.webp" alt="discord"></a>            
          </div>
        </div>
      </div>
    </div>
</div>