<div style="display:flex" class="divabout">
    <div class="imgabout">
        <img class="imga"src="../assets/NONREVEAL.png" alt="">
    </div>
    <div style="display:row" class="textabout">
        <h3>Hyperhabits Multiverse</h3>
        <p>Join us to save our planet and help humanity Grow & Win.  This collection is created to improve the quality of life in people and the realization of their good habits. </p>
        <p>A 12,000 NFT collection that potentiates the obtention of VRK tokens and allows you to get benefits within a very broad ecosystem!</p>

        <div>
            <p>Don't miss the reveal...</p>
            <img src="" alt="">
        </div>
        <div style="display:flex" class="blackbox">
            <div style="display: row;">
                <div>
                    Current price
                </div>
                <div>
                    250 USD
                </div>
            </div>
            <div style="display: row;">
                <div>
                    Disclaimer
                </div>
                <div>
                    Non revelation sale
                </div>
            </div>
            <div style="display: row;">
                <div>
                    <button>
                        Connect wallet
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
