<div id="about">
    <div>
        <div class="aboutc">
            <h3 style="margin: 0 0 1vw 0; text-align: center;">About</h3>
            <div class="box" style="display: flex;">
                <div id="textboxa">
                    <h4> What is Hyperhabits Multiverse? </h4>
                    <p id="firsttextbox"> It is a collection of NFTs created in the Vrakka ecosystem to encourage users to seek to improve their quality of life by performing good habits. The collection is based on a story, where the NFTs are "heroes" who come to earth to help users improve their lives, so that they can contribute to society to save the world.</p>
                    <p id="secondtextbox"> The NFT has a utility In the ecosystem , becoming a master key to access multiple benefits.</p>
                </div>
                <div id="textboxb">
                    <p id="textgray" style="margin-bottom: 0;">Hyperheroes...</p>
                    <p id="textcolors">We are here to save the world!</p>
                </div>
            </div>
        </div>
        <div class="aboutd">
            <h3 style="margin: 0 0 1vw 0; text-align: center;">Team</h3>
            <div>
                CARROUSEL HERE
            </div>
        </div>
    </div>
</div>