header{
  position: relative;
  z-index: 9999;
  width: 100vw;
}
/*NavBar */
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    color: white;
    padding-left: 0;
  }

  /*Text format of the navigation bar*/
  nav ul li a {
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
  }

  /*List order of navBar*/
  nav ul li {
    list-style: none;
    margin: 0 20px 0 25px;
  }

  /*Hide horizontal scrollbar*/
  ::-webkit-scrollbar {
    display: none;
  }

  /*NavBar logo*/
  .logo {
    width: 13vw;
    height: 8vh;
  }

  /*NavBar sections*/
  nav {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1vw;
    background-color: transparent;
    height: 8vh;
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    position: relative;
}

  .idioma {
    width: 3vw;
    height: 6vh;
    margin: auto auto;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }

  a:hover,
  a:focus {
    background-size: 100% 2px;
  }

  a.active {
    font-weight: bold;
    color: #000;
    border-bottom-color: #ffffff;
    background-size: 100% 2px;
  }

  /*header padding*/
  header {
    padding: 01%;
    display: flex;
    position: fixed;
  }

  /*NavBar button wallet*/
  .buttons {
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width:700px) {
    .logo {
      width: 15%;
      height: 5%;
    }
  
    nav {
      display: none;
    }
  
    .idioma {
      width: 8vw;
      height: 3.5vh;
      margin: auto auto;
    }
  
    .buttons {
      margin: auto auto;
      width: 80vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .NFT {
      background-image: linear-gradient(91.06deg, #FF1CF7 39.26%, #00F0FF 100%);
      font-size: 3vw;
      color: white;
      width: 30vw;
      height: 3vh;
      font-family: Rubik;
    }
  }