<header>
    <img class="logo" src="../assets/images/logo-hm.webp" alt="Vrakka" />
    <nav>
      <ul class="navbar-links">
        <li><a href="#home">{{'Nav.Home' | translate}}</a></li>
        <li><a href="#vrk">VRK</a></li>
        <li><a href="#NFT">NFT</a></li>
        <li><a href="#benefits">{{'Nav.Benefits' | translate}}</a></li>
        <li><a href="#types">{{'Nav.Types' | translate}}</a></li>
        <li><a href="#gallery">{{'Nav.Gallery' | translate}}</a></li>
        <li><a href="#roadmaps">Roadmap</a></li>
        <li><a href="#about">{{'Nav.About' | translate}}</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <button type="button" (click)="conectWallet()" class="NFT">{{'Buttons.connect' | translate}}</button>
    </div>
    <img class="idioma" src="../assets/images/Vector.webp" alt=""  (click)="changeLanguage()">
</header>