<header>
    <img class="logo" src="../assets/images/logo-hm.webp" alt="Vrakka" />
    <nav>
      <ul class="navbar-links">
        <li (click)="onSeccionClick('home')"><a href="#home">{{'Nav.Home' | translate}}</a></li>
        <li (click)="onSeccionClick('vrk')"><a href="#vrk">VRK</a></li>
        <li (click)="onSeccionClick('NFT')"><a href="#NFT">NFT</a></li>
        <li (click)="onSeccionClick('benefits')"><a href="#benefits">{{'Nav.Benefits' | translate}}</a></li>
        <li (click)="onSeccionClick('types')"><a href="#types">{{'Nav.Types' | translate}}</a></li>
        <li (click)="onSeccionClick('gallery')"><a href="#gallery">{{'Nav.Gallery' | translate}}</a></li>
        <li (click)="onSeccionClick('roadmaps')"><a href="#roadmaps">Roadmap</a></li>
        <li (click)="onSeccionClick('about')"><a href="#about">{{'Nav.About' | translate}}</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <button type="button" (click)="conectWallet()" class="NFT">{{'Buttons.connect' | translate}}</button>
      <img class="idioma" src="../assets/images/Vector.webp" alt=""  (click)="changeLanguage()">
    </div>

</header>
