<header>
    <img class="logo" src="../assets/images/logo-hm.webp" alt="Vrakka" />
    <nav>
      <ul class="navbar-links">
        <li (click)="onSeccionClick(0)"><a href="#home">{{'Nav.Home' | translate}}</a></li>
        <li (click)="onSeccionClick(1)"><a href="#vrk">VRK</a></li>
        <li (click)="onSeccionClick(2)"><a href="#NFT">NFT</a></li>
        <li (click)="onSeccionClick(3)"><a href="#benefits">{{'Nav.Benefits' | translate}}</a></li>
        <li (click)="onSeccionClick(4)"><a href="#types">{{'Nav.Types' | translate}}</a></li>
        <li (click)="onSeccionClick(5)"><a href="#gallery">{{'Nav.Gallery' | translate}}</a></li>
        <li (click)="onSeccionClick(6)"><a href="#roadmaps">Roadmap</a></li>
        <li (click)="onSeccionClick(7)"><a href="#about">{{'Nav.About' | translate}}</a></li>
        <li><a routerLink="/admin">admin</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <button type="button" (click)="connectWallet()" class="NFT">{{'Buttons.connect' | translate}}</button>
      <img class="idioma" src="../assets/images/Vector.webp" alt=""  (click)="changeLanguage()">
    </div>
</header>
<router-outlet name="adminOutlet"></router-outlet>
