<div class="benefits" id="benefits">
  <div id="title">
    <p>{{ "Benefits.Title" | translate }}</p>
    <h2>{{ "Benefits.Title2" | translate }}</h2>
  </div>
    <div class="slider-container">
      <div class="slider">
        <div class="slides">
          <div *ngFor="let image of visibleImages; let i = index"  class="slide slide-{{i+1}}">
            <img [src]="image" alt="Slide" />
          </div>
        </div>
      </div>
      <button class="slider-nav" (click)="previousSlide()">
        <img src="/assets/images/flechaizq.webp" alt="" />
      </button>
      <button class="slider-nav" (click)="nextSlide()">
        <img src="/assets/images/flechader.webp" alt="" />
      </button>
    </div>
    <div class="text">
      <h3>{{ "Benefits." + x + ".title" | translate }}</h3>
      <p>{{ "Benefits." + x + ".text" | translate }}</p>
    </div>
  </div>
