<div class="benefits" id="benefits">
  <div id="title">
    <p>Why we are the best?</p>
    <h2>Benefits you can't miss</h2>
  </div>
  <div id="Benefits">
    <div class="container">
      <input type="radio" name="Benefits" id="img-1" checked />
      <input type="radio" name="Benefits" id="img-2" />
      <input type="radio" name="Benefits" id="img-3" />
      <input type="radio" name="Benefits" id="img-4" />
      <input type="radio" name="Benefits" id="img-5" />
      <input type="radio" name="Benefits" id="img-6" />
      <input type="radio" name="Benefits" id="img-7" />

      <div class="cards">
        <label
          class="card"
          id="select-{{ j }}"
          *ngFor="let j of item"
        >
          <img src="{{ img[j-1] }}" alt="" />
        </label>
      </div>
      <div class="text">
        <h3>{{texto[x].title}}</h3>
        <p>{{texto[x].text}}</p>
      </div>
    </div>
    <label class="left" for="img-{{x}}" id="select-{{ x }}" (click)="suma()"><img src="/assets/images/flechaIzq.png" alt=""></label>
    <label class="rigth" for="img-{{x}}" id="select-{{ x }}" (click)="res()"><img src="/assets/images/flechaDer.png" alt=""></label>

  </div>
</div>
