<div id="types">
    <div id="titletypes">
        <p>Do you want to potenciate your earrings?</p>
        <h2>Enhancer Types</h2>
    </div>
    <div id="imagest" style="display: flex;">
        <div class="nftanimation">
            <img id="rarimg" src="/assets/images/Raro.webp" alt="">
        </div>
        <div class="nftanimationtwo">
            <img id="legimg" src="/assets/images/legendary.webp" alt="">
        </div>
        <div class="nftanimation">
            <img id="rarimgtwo" src="/assets/images/Rarotwo.webp" alt="">
        </div>
        <div class="nftanimationtwo">
            <img id="normalimg" src="/assets/images/normal.webp" alt="">
        </div>

    </div>
    <div class="blurbox" style="left: 42vw; top: 34vh; text-align: center; color: white;">
        <p style="font-size: 0.8vw;">6000 – 50% <br> Badge</p>
        <button id="yellowbtn">Legendary 10x</button>
    </div>
    <div class="blurbox" style="left: 72vw; top: 20vh; text-align: center; color: white;">
        <p style="font-size: 0.8vw;">6000 – 50% <br> No badge</p>
        <button id="bluebtn">Normal 5x</button>
    </div>
</div>
