<div id="types">
    <div id="titletypes">
        <p>Do you want to potenciate your earrings?</p>
        <h2>Enhancer Types</h2>
    </div>
    <div class="container">
        <div class="imagest">
            <div class="legendary">
                <div class="nft">
                    <img class="imgs" id='first' src="/assets/images/Variant2.webp" alt="">
                    <img class="imgs" id='second' src="/assets/images/Variant3.webp" alt="">
                    <img class="imgs" id='third' src="/assets/images/Default.webp" alt="">               
                </div>
                    <div class="blurbox1" style="text-align: center; color: white;">
                        <p class="text">6000 – 50% <br> Badge</p>
                        <button id="yellowbtn">Legendary 10x</button>
                    </div>
            </div>
            <div class="normal">
                <div class="nft1">
                    <img class="imgs" id='fourth' src="/assets/images/Variant4.webp" alt="">                    
                </div>
                <div class="blurbox2" style="text-align: center; color: white;">
                    <p class="text">6000 – 50% <br> No badge</p>
                    <button id="bluebtn">Normal 5x</button>
                </div>
            </div>
            
        </div>
    </div>


</div>