<div id="types">
    <div id="titletypes">
        <p>{{'Types.text' | translate}}</p>
        <h2>{{'Types.title' | translate}}</h2>
    </div>
    <div class="container">
        <div class="imagest">

            <div class="legendary">
                <div class="title title1">
                    <p class="texttitle">{{'Types.legendary' | translate}}</p>
                </div>
                <div class="textboxes">
                    <div class="textbox textbox1">
                        <p class="text">{{'Types.pl1' | translate}}</p>
                    </div>
                    <div class="textbox textbox1">
                        <p class="text">{{'Types.pl2' | translate}}</p>
                    </div>
                    <div class="textbox textbox1">
                        <p class="text">{{'Types.pl3' | translate}}</p>
                    </div>
                    <div class="textbox textbox1">
                        <p class="text">{{'Types.pl4' | translate}}</p>
                    </div>
                </div>
                <div class="nft">
                    <img class="imgs" id='first' src="/assets/images/Variant2.webp" alt="">
                </div>
            </div>

            <div class="normal">
                <div class="title title2">
                    <p class="texttitle">NORMAL</p>
                </div>
                <div class="textboxes">
                    <div class="textbox textbox2">
                        <p class="text">{{'Types.pn1' | translate}}</p>
                    </div>
                    <div class="textbox textbox2">
                        <p class="text">{{'Types.pn2' | translate}}</p>
                    </div>
                    <div class="textbox textbox2">
                        <p class="text">{{'Types.pn3' | translate}}</p>
                    </div>
                    <div class="textbox textbox2">
                        <p class="text">{{'Types.pn4' | translate}}</p>
                    </div>
                </div>
                <div class="nft">
                    <img class="imgs" id='first' src="/assets/images/Variant4.webp" alt="">
                </div>
            </div>

        </div>
    </div>


</div>
