* {
  font-family: "Rubik";
  font-style: normal;
}
#text {
  text-align: center;
}
#text p {
  font-weight: 700;
  font-size: 1.3vw;
  background: linear-gradient(90.13deg, #ffffff 0%, #fe1df8 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left {
  width: 20vw;
  height: 55vh;
  position: absolute;
  cursor: pointer;
  margin-right: 35vw;
  opacity: 0;
}

.rigth {
  width: 20vw;
  height: 55vh;
  position: absolute;
  cursor: pointer;
  margin-left: 35vw;
  opacity: 0;
}
#text h2 {
  font-weight: 600;
  font-size: 4.3vw;
  line-height: 0;
  letter-spacing: 0.1vw;
  color: #ffffff;
}

#slider {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.container {
  width: 100vw;
  height: 55vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-4,
#item-5:checked ~ .cards #selector-5,
#item-6:checked ~ .cards #selector-6,
#item-7:checked ~ .cards #selector-7 {
  transform: translateX(-100%) scale(0.4);
  z-index: 10;
  opacity: 0.4;
}

#item-2:checked ~ .cards #selector-1,
#item-3:checked ~ .cards #selector-2,
#item-4:checked ~ .cards #selector-3,
#item-5:checked ~ .cards #selector-4,
#item-6:checked ~ .cards #selector-5,
#item-7:checked ~ .cards #selector-6,
#item-1:checked ~ .cards #selector-7 {
  transform: translateX(-90%) scale(0.6);
  z-index: 20;
  opacity: 0.6;
}

#item-3:checked ~ .cards #selector-1,
#item-4:checked ~ .cards #selector-2,
#item-5:checked ~ .cards #selector-3,
#item-6:checked ~ .cards #selector-4,
#item-7:checked ~ .cards #selector-5,
#item-1:checked ~ .cards #selector-6,
#item-2:checked ~ .cards #selector-7 {
  transform: translateX(-50%) scale(0.8);
  z-index: 30;
  opacity: 0.8;
}

#item-4:checked ~ .cards #selector-1,
#item-5:checked ~ .cards #selector-2,
#item-6:checked ~ .cards #selector-3,
#item-7:checked ~ .cards #selector-4,
#item-1:checked ~ .cards #selector-5,
#item-2:checked ~ .cards #selector-6,
#item-3:checked ~ .cards #selector-7 {
  transform: translateX(0) scale(1);
  z-index: 40;
  opacity: 1;
}

#item-5:checked ~ .cards #selector-1,
#item-6:checked ~ .cards #selector-2,
#item-7:checked ~ .cards #selector-3,
#item-1:checked ~ .cards #selector-4,
#item-2:checked ~ .cards #selector-5,
#item-3:checked ~ .cards #selector-6,
#item-4:checked ~ .cards #selector-7 {
  transform: translateX(50%) scale(0.8);
  z-index: 30;
  opacity: 0.8;
}

#item-6:checked ~ .cards #selector-1,
#item-7:checked ~ .cards #selector-2,
#item-1:checked ~ .cards #selector-3,
#item-2:checked ~ .cards #selector-4,
#item-3:checked ~ .cards #selector-5,
#item-4:checked ~ .cards #selector-6,
#item-5:checked ~ .cards #selector-7 {
  transform: translateX(90%) scale(0.6);
  z-index: 20;
  opacity: 0.6;
}

#item-7:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-4,
#item-4:checked ~ .cards #selector-5,
#item-5:checked ~ .cards #selector-6,
#item-6:checked ~ .cards #selector-7 {
  transform: translateX(100%) scale(0.4);
  z-index: 10;
  opacity: 0.4;
}

@media (max-width: 768px) {
  #text{
    height: 20vh;
  }
  #text p {
    font-size: 6vw;    
  }
  #text h2 {
    font-size: 10vw;
    margin-top: 6vh;
  }
  img {
    width: 100%;
    height: 50%;
  }
  .container{
    width: 100%;
  }
  .card {
    width: 40%;
    height: 100%;
  }
  .cards {
    margin-top:30%;
    width: 100%;
    height: 90%;
  }
  .left {
    width: 15%;
    height: 23%;
    margin-right: 50%;
    opacity: 0;
  }
  
  .rigth {
    width: 15%;
    height: 23%;
    margin-left: 50%;
  }
}