<div class="about" id="vrk">
    <div class="divabout" >
        <div class="imgabout">
            <img class="imga" src="../assets/images/coin.gif" alt="">
        </div>
        <div class="textabout">
            <h3>VRK Token</h3>
            <p id="firsttextbox">{{'VRK.description1' | translate}}</p>
            <p id="secondtextbox">{{'VRK.description2' | translate}}</p>

            <div class="middletext">
                <div>
                    <p id="textgray" style="margin-bottom: 0;">{{'VRK.dontMiss' | translate}}</p>
                    <p id="presale">{{'VRK.preSale' | translate}}</p>
                </div>
                <div>
                        <ul>
                            <li>{{'VRK.utilityToken' | translate}}</li>
                            <li>{{'VRK.deflationaryToken' | translate}}</li>
                            <li>{{'VRK.tokenLimit' | translate}}</li>
                        </ul>
                </div>
            </div>
            <div class="blackbox">
                <div class="orderbox">
                    <div class="divbox">
                        <div>
                            <p id="textgray">{{'VRK.currentPrice' | translate}}</p>
                        </div>
                        <div>
                            <strong id="price">0.0004</strong>BNB
                        </div>
                    </div>
                    <div class="divbox">
                        <div>
                            <p id="textgray">{{'VRK.disclaimer' | translate}}</p>
                        </div>
                        <div id="textb" style="margin-top: 1.5vw;">
                            {{'VRK.nonRevelationSale' | translate}}
                        </div>
                    </div>
                </div>
                <div class="buttonbox">
                    <button [ngClass]="{'disable': this.connectService.isConnected}" id="connect" (click)="conectWallet()">
                        {{'Buttons.connect' | translate}}
                    </button>
                    <input [ngClass]="{'disable': this.connectService.isConnected}" id="cantidad" type="number" [(ngModel)]="total">
                    <button [ngClass]="{'disable': this.connectService.isConnected}" id="buy" (click)="buy()">{{'Buttons.buy' | translate}}</button>
                </div>

            </div>
        </div>

    </div>
</div>

