<div class="about" id="vrk">
    <div class="divabout" >
        <div class="imgabout">
            <img class="imga" src="../assets/images/coin.webp" alt="">
        </div>
        <div style="display:row" class="textabout">
            <h3>VRK Token</h3>
            <p id="firsttextbox">Is a digital asset created for the Vrakka ecosystem that seeks to revalue itself,  based on Blockchain technology supported on BSC, developed by a team of experts.  </p>
            <p id="secondtextbox">VRK Token as a product is a great solution to introduce people to the world of digital assets and allow them to receive financial rewards for fulfilling their habits.</p>

            <div style="display: flex;">
                <div>
                    <p id="textgray" style="margin-bottom: 0;">Don't miss the...</p>
                    <p id="presale">PRE SALE</p>
                </div>
                <div style="display: row;">
                        <ul>
                            <li>Utility Token</li>
                            <li>Deflationary Token</li>
                            <li>Token with limit</li>
                        </ul>
                </div>
            </div>
            <div class="blackbox">
                <div style="display:flex">
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">Current price</p>
                        </div>
                        <div>
                            <strong id="price">0.10</strong>USD
                        </div>
                    </div>
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">Disclaimer</p>
                        </div>
                        <div id="textb" style="margin-top: 1.5vw;">
                            Non revelation sale
                        </div>
                    </div>
                </div>
                <div class="buttonbox">
                    <button [ngClass]="{'disable': connected}" id="connect" (click)="conectWallet()">
                        Connect wallet
                    </button>
                    <input [ngClass]="{'disable': connected}" id="cantidad" type="number">
                    <button [ngClass]="{'disable': connected}" id="buy">Buy</button>
                </div>

            </div>
        </div>

    </div>
</div>

