<header>
  <img class="logo" src="../assets/images/logo-hm.webp" alt="Vrakka" />
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#vrk">VRK</a></li>
      <li><a href="#NFT">NFT</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#types">Types</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#roadmap">Roadmap</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>
  <div class="buttons">
    <button type="button" (click)="conectWallet()" class="NFT"></button>
  </div>
  <div>
    <img src="../assets/images/Vector.webp" alt="" width="40vw">
  </div>
</header>
<div class="page">
  <!--particles of background-->
  <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)">
  </ng-particles>
  <!--All of horizontal slide components-->
  <div class="page-content">
    <div class="slides">
      <app-index class="slide one"></app-index>
      <app-vrk class="slide two"></app-vrk>
      <app-nft class="slide three"></app-nft>
      <app-benefits class="slide four"></app-benefits>
      <app-types class="slide five"></app-types>
      <app-gallery class="slide six"></app-gallery>
      <app-roadmap class="slide seven"></app-roadmap>
      <app-about class="slide eight"></app-about>
    </div>
  </div>
</div>
<div class="footer">
  <div id="button"><img src="../assets/images/flechader.webp" alt="" style="width: 20px; height: 30px;"></div>
  <div id="container">
    <div id="cont">
      <div class="footer_center">
        <div class="contact">
          <h3>Contact:</h3> 
          <p><img src="../assets/images/email.webp" alt=""> Email: ....@gmail.com</p>
        </div>
        <div class="social-icons">
          <img src="../assets/images/telegramicon.webp" alt="">
          <img src="../assets/images/tiktokicon.webp" alt="">
          <img src="../assets/images/twittericon.webp" alt="">
          <img src="../assets/images/youtubeicon.webp" alt="">
          <img src="../assets/images/instaicon.webp" alt="">
          <img src="../assets/images/facebookicon.webp" alt="">
          <img src="../assets/images/discordicon.webp" alt="">
        </div>     
      </div>
    </div>
  </div>
</div>