@font-face {
  font-family: "Rubik";
  src: url(../assets/Rubik-Regular.ttf);
}

.pghorizontal{
  display: flex;
  width: 100vw;
  height: 100%;
}

/* wrapper containing our slides*/
.one {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}

.one.visible,
.two.visible,
.three.visible,
.four.visible,
.five.visible,
.six.visible,
.seven.visible,
.eight.visible {
  opacity: 1;
  transform: scale(1);
}

.two {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}


.three{
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}

.eight {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}

.four {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}

.five {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;

}

.six {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}

.seven {
  margin-bottom: 20%;
  opacity: 0;
  transition: .7s ease-in-out all;
}



@media (max-width: 768px) {
  .pghorizontal{
    flex-direction: column;  
  
  }   
  
}



@media (min-width: 2100px) {
 .page-content{ width: 54vw;
  height: 100vw;
  transform: rotate(-90deg) translateX(-82.9vh) translateY(-10px);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar-thumb: none;
 }
}
