@font-face {
  font-family: "Rubik";
  src: url(../assets/Rubik-Regular.ttf);
}
/*NavBar */
nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  color: white;
  padding-left: 0;
}
/*Text format of the navigation bar*/
nav ul li a{
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

/*List order of navBar*/
nav ul li {
  list-style: none;
  float: left;
  margin: 0 20px 0 25px;
}
/*Hide horizontal scrollbar*/
::-webkit-scrollbar {
  display: none;
}


/*NavBar logo*/
 .logo{
  width: 13vw;
  height: 8vh;
 }
 /*NavBar sections*/
nav{
  font-family: 'Rubik';
  font-style: Regular;
  font-weight: 500;
  font-size: 1vw;
  line-height: 150%;
  background: linear-gradient(180deg, #8284FC 0%, rgba(141, 126, 180, 0.8) 100%);
  border-radius: 10px;
  height: 6vh;
  width: 160vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
}
/*header padding*/
header{
  padding: 03%;
  display: flex;
}
/*NavBar button wallet*/
.buttons{
  margin-left: 10%;
  width:80vw;
}
/*Button Wallet format*/
.NFT{
  background: linear-gradient(91.06deg, #FF1CF7 39.26%, #00F0FF 100%);
  border-radius: 25px;
  font-size: 1vw;
  width: 15vw;
  height: 6vh;
  color: white;
  font-family: Rubik;
}


.slide {
  width: 100vw;
  height: 100%;
  font-size: 30px;
  color: #000;
}


.page-content {
  /*Width to horizontal scroll bar*/
  width: 41vw;
  height: 100vw;
  transform: rotate(-90deg) translateX(-78vh) translateY(-10px);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar-thumb: none;

}

/* wrapper containing our slides*/
.slides {
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-80vh) translateX(0px);
  transform-origin: top left;
  overflow-y: hidden;
  width: 800vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.one{
  background-image: url(/assets/LooperBG.png);
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}

.one.visible,
.two.visible,
.three.visible,
.four.visible,
.five.visible,
.six.visible,
.seven.visible,
.eight.visible{
  opacity: 1;
  transform: scale(1);
  scroll-snap-align: center;
}

.two{
 /* background-image: url(/assets/Estrellas.png);*/
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;

}


.three{
  /*background-image: url(/assets/Estrellas.png);*/
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}

.four{
  /*background-image: url(/assets/Estrellas.png);*/
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}
.five{
  background-image: url(/assets/Espacio.png);
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}
.six{
 /* background-image: url(/assets/Espacio2.png);*/
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}
.seven{
  background-image: url(/assets/Frame.png);
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .7s ease-in-out all;
  scroll-snap-align: center;
}
footer {
  /* place on the bottom */
  height: 100%;
 color: white;
  background: #252a47;
  display: grid;
  place-items: center;
}