<app-navbar></app-navbar>
<div class="pghorizontal">

  <!--particles of background-->
  <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)">
  </ng-particles>
  <!--All of horizontal slide components-->

      <app-index class="slide-H one"></app-index>
      <app-vrk class="slide-H two animate__animated animate__fadeInRight"></app-vrk>
      <app-nft class="slide-H three animate__animated animate__fadeInRight"></app-nft>
      <app-benefits class="slide-H four animate__animated animate__fadeInRight"></app-benefits>
      <app-types class="slide-H five animate__animated animate__fadeInRight"></app-types>
      <app-gallery class="slide-H six animate__animated animate__fadeInRight"></app-gallery>
      <app-roadmap class="slide-H seven animate__animated animate__fadeInRight"></app-roadmap>
      <app-about class="slide-H eight animate__animated animate__fadeInRight"></app-about>
</div>
<app-footer></app-footer>
