<app-navbar (seccionClic)="cambiarIndice($event)"></app-navbar>
<div class="pghorizontal">

  <!--particles of background-->
  <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)">
  </ng-particles>
  <!--All of horizontal slide components-->

      <app-index class="slide-H one"></app-index>
      <app-vrk class="slide-H two"></app-vrk>
      <app-nft class="slide-H three"></app-nft>
      <app-benefits class="slide-H four"></app-benefits>
      <app-types class="slide-H five"></app-types>
      <app-gallery class="slide-H six"></app-gallery>
      <app-roadmap class="slide-H seven"></app-roadmap>
      <app-about class="slide-H eight"></app-about>
</div>
<app-footer></app-footer>
