<div class="admin">
  <div class="secciones">
    <Button (click)="Cambio('NFT')">NFT</Button>
    <button (click)="Cambio('Coleccion')">Coleccion</button>
  </div>
  <div class="NFT" *ngIf="content == 'NFT'">
    <h1>Minteo privado</h1>
    <input type="text" placeholder="Address" [(ngModel)]="account">
    <button (click)="buy()">Minteo</button>

    <h1>Cambiar URI</h1>
    <input type="text" placeholder="URL de la api" [(ngModel)]="link">
    <button (click)="setTokenUri(link)">Cambiar</button>
  </div>
  <div class="coleccion" *ngIf="content == 'Coleccion'">
    <app-collection></app-collection>
  </div>

</div>
