* {
    font-family: Rubik;
}

#roadmaplanets {
    display: flex;
    text-align: center;
}

#titleroadmap h2 {
    text-align: center;
    color: #fff;
    font-size: 4.3vw;
    margin-top: 0;
    font-weight: 700;
    line-height: 71px;
}

/*Planet ONE*/
#p-one {
    width: 9vw;
    height: 34vh;
}

#p-one img {
    width: 8vw;
    height: 16vh;
}

#p-one-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 10vh;
}

#p-one-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet TWO*/
#p-two {
    width: 8vw;
    height: 60vh; 
}

#p-two img {
    margin-top: 26vh;
    width: 8vw;
    height: 16vh;
}

#p-two-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-two-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet THREE*/
#p-three {
    width: 10vw;
    height: 43vh;
}

#p-three img {
    width: 10vw;
    height: 21vh;
}

#p-three-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 0;
}

#p-three-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet FOUR*/
#p-four {
    width: 10vw;
    height: 60vh;
}

#p-four img {
    margin-top: 25vh;
    width: 8vw;
    height: 16vh;
}

#p-four-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-four-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet FIVE*/
#p-five {
    width: 8vw;
    height: 41vh;
}

#p-five img {
    width: 8vw;
    height: 18vh;
}

#p-five-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-five-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet SIX*/
#p-six {
    width: 10vw;
    height: 30vh;
}

#p-six img {
    margin-top: 26vh;
    width: 9vw;
    height: 20vh;
}

#p-six-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-six-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet SEVEN*/
#p-seven {
    width: 11vw;
    height: 30vh;
}

#p-seven img {
    width: 9vw;
    height: 18vh;
}

#p-seven-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 5vh;
}

#p-seven-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet EIGHT*/
#p-eight {
    width: 10vw;
    height: 30vh;
    margin-top: 27vh;
}

#p-eight img {
    width: 7vw;
    height: 14vh;
}

#p-eight-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-eight-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet NINE*/
#p-nine {
    width: 12vw;
    height: 44vh;
}

#p-nine img {
    width: 8vw;
    height: 18vh;
}

#p-nine-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 5vh;
}

#p-nine-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}
/*Planet TEN*/
#p-ten {
    width: 12vw;
    height: 44vh;
}

#p-ten img {
    margin-top: 25vh;
    width: 8vw;
    height: 18vh;
}

#p-ten-title {
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}

#p-ten-p {
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

@media (max-width:768px) {
    #roadmaplanets {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #titleroadmap h2 {
        text-align: center;
        font-size: 7vw;
        margin-top: 0;
        font-weight: 700;
        align-items: center;
    }
    #p-one {
        width: 50vw;
        height: 12vh;
        margin: auto;
        display: flex;
        align-items: center;
    }
    
    #p-one-title {
        margin-top: 0;
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-one img {
        width: 22vw;
        height: 10vh;
        order: 3;
    }
    #p-one p{
        font-size: 2.5vw;
        font-weight: 500;
        order: 1;
    }
    #p-one h3{
        order: 3;
    }
    #p-two{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-two-title{
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-two img {
        margin-top: 0;
        width: 17vw;
        height: 8vh;
    }
    #p-two-p{
        font-size: 2.5vw;
        font-weight: 500;
    }
    #p-three{
        display: flex;
        width: 60vw;
        margin: auto;
        height: 16vh;
        align-items: center;
    }
    #p-three-title{
        font-size: 3vw;
        font-weight: 1000;
        order: 2;
    }
    #p-three img {
        width: 26vw;
        height: 12.5vh;
        margin: 0;
        order: 3;
    }
    #p-three-p{
        font-size: 2.5vw;
        font-weight: 500;
        order: 1;
    }
    #p-four{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-four-title{
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-four img {
        margin-top: 0;
        width: 17vw;
        height: 8vh;
    }
    #p-four-p{
        font-size: 2.5vw;
        font-weight: 500;
    }
    #p-five{
        display: flex;
        width: 40vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-five-title{
        font-size: 3vw;
        font-weight: 1000;
        order: 2;
    }
    #p-five img {
        width: 14vw;
        height: 8vh;
        order: 3;
    }
    #p-five-p{
        font-size: 2.5vw;
        font-weight: 500;
        order: 1;
    }
    #p-six{
        display: flex;
        width: 60vw;
        margin: auto;
        height: 14vh;
        align-items: center;
    }
    #p-six-title{
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-six img {
        margin-top: 0;
        width: 20vw;
        height: 10vh;
    }
    #p-six-p{
        font-size: 2.5vw;
        font-weight: 500;
    }
    #p-seven{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-seven-title{
        margin-top: 0;
        font-size: 3vw;
        font-weight: 1000;
        order: 2;
    }
    #p-seven img {
        width: 16vw;
        height: 9vh;
        order: 3;
    }
    #p-seven-p{
        font-size: 2.5vw;
        font-weight: 500;
        order: 1;
    }
    #p-eight{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-eight-title{
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-eight img {
        width: 14vw;
        height: 7vh;
    }
    #p-eight-p{
        font-size: 2.5vw;
        font-weight: 500;
    }
    #p-nine{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 12vh;
        align-items: center;
    }
    #p-nine-title{
        margin-top: 0;
        font-size: 3vw;
        font-weight: 1000;
        order: 2;
    }
    #p-nine img {
        width: 18vw;
        height: 10vh;
        order: 3;
    }
    #p-nine-p{
        font-size: 2.5vw;
        font-weight: 500;
        order: 1;
    }
    #p-ten{
        display: flex;
        width: 50vw;
        margin: auto;
        height: 14vh;
        align-items: center;
    }
    #p-ten-title{
        font-size: 3vw;
        font-weight: 1000;
    }
    #p-ten img{
        margin-top: 0;
        width: 18vw;
        height: 10vh;
    }
    #p-ten-p{
        font-size: 2.5vw;
        font-weight: 500;
    }
}