<div id="roadmap">
    <div style="display: flex; text-align: center;">
        <div id="p-one" style="display: row;">
            <h3 id="p-one-title">01-2023</h3>
            <p id="p-one-p">Oriented <br> Comunity </p>
            <img src="/assets/P1.png" alt="" style="width: 10.5vw; height: 21vh;">
        </div>
        <div id="p-two" style="display: row;">
            <h3 id="p-two-title">01-2023</h3>
            <p id="p-two-p">Oriented <br> Comunity </p>
            <img src="/assets/P2.png" alt="" style="width: 8vw; height: 16vh;">
        </div>

        <div id="p-three" style="display: row;">
            <h3 id="p-three-title">01-2023</h3>
            <p id="p-three-p">Oriented <br> Comunity </p>
            <img src="/assets/P3.png" alt="" style="width: 12vw; height: 25vh;">
        </div>

        <div id="p-four" style="display: row;">
            <h3 id="p-four-title">01-2023</h3>
            <p id="p-four-p">Oriented <br> Comunity </p>
            <img src="/assets/P4.png" alt="" style="width: 8vw; height: 16vh;">
        </div>

        <div id="p-five" style="display: row;">
            <h3 id="p-five-title">01-2023</h3>
            <p id="p-five-p">Oriented <br> Comunity </p>
            <img src="/assets/P5.png" alt="" style="width: 8vw; height: 16vh;">
        </div>

        <div id="p-six" style="display: row;">
            <h3 id="p-six-title">01-2023</h3>
            <p id="p-six-p">Oriented <br> Comunity </p>
            <img src="/assets/P6.png" alt="" style="width: 10vw; height: 20vh;">
        </div>

        <div id="p-seven" style="display: row;">
            <h3 id="p-seven-title">01-2023</h3>
            <p id="p-seven-p">Oriented <br> Comunity </p>
            <img src="/assets/P7.png" alt="" style="width: 9vw; height: 18vh;">
        </div>

        <div id="p-eight" style="display: row;">
            <h3 id="p-eight-title">01-2023</h3>
            <p id="p-eight-p">Oriented <br> Comunity </p>            
            <img src="/assets/P8.png" alt="" style="width: 7vw; height: 14vh;">
        </div>

        <div id="p-nine" style="display: row;">
            <h3 id="p-nine-title">01-2023</h3>
            <p id="p-nine-p">Oriented <br> Comunity </p>
            <img src="/assets/P9.png" alt="" style="width: 10.5vw; height: 21vh;">
        </div>

    </div>
</div>