<div id="roadmap">
    <div id="titleroadmap">
        <h2>Roadmap</h2>
    </div>
    <div id="roadmaplanets" >
        <div id="p-one" class='aboutd'style="display: row;">
            <h3 id="p-one-title">Q1 2023</h3>
            <p id="p-one-p">Creation & <br> development </p>
            <img src="/assets/images/p1.webp" alt="">
        </div>
        <div id="p-two" style="display: row;">            
            <img src="/assets/images/p2.webp" alt="" >
            <h3 id="p-two-title">Q2 2023</h3>
            <p id="p-two-p">Comunity <br> orientation </p>
        </div>

        <div id="p-three" style="display: row;">
            <h3 id="p-three-title">Q3 - Q4 2023</h3>
            <p id="p-three-p">Smart contract audit  <br> Non-disclosed sale <br> Access to Vrakka Academy <br> & Vrakka Trading </p>
            <img src="/assets/images/p3.webp" alt="" >
        </div>

        <div id="p-four" style="display: row;">            
            <img src="/assets/images/p4.webp" alt="">
            <h3 id="p-four-title">Q1 2024</h3>
            <p id="p-four-p">Disclosure of minted <br> collection</p>
        </div>

        <div id="p-five" style="display: row;">
            <h3 id="p-five-title">Q2 2024</h3>
            <p id="p-five-p">Comunity introduction in App <br> VRK enhancer <br> Benefits in App</p>
            <img src="/assets/images/p5.webp" alt="" >
        </div>

        <div id="p-six" style="display: row;">            
            <img src="/assets/images/p6.webp" alt="" >
            <h3 id="p-six-title">Q3 2024</h3>
            <p id="p-six-p">Monetization of VRK <br> staking functions </p>
        </div>

        <div id="p-seven" style="display: row;">
            <h3 id="p-seven-title">Q4 2024</h3>
            <p id="p-seven-p">NFT'S marketplace launch <br> Access to Vrakka Events</p>
            <img src="/assets/images/p7.webp" alt="" >
        </div>

        <div id="p-eight" style="display: row;">            
            <img src="/assets/images/p8.webp" alt="">
            <h3 id="p-eight-title">Q1 2025</h3>
            <p id="p-eight-p">Sale and rent in Vrakka Habits </p>
        </div>

        <div id="p-nine" style="display: row;">
            <h3 id="p-nine-title">Q2 2025</h3>
            <p id="p-nine-p">Vrakka Gaming functions and access <br> Presale participation in digital assets</p>
            <img src="/assets/images/p9.webp" alt="">
        </div>

        <div id="p-ten" style="display: row;">            
            <img src="/assets/images/p10.webp" alt="">
            <h3 id="p-ten-title">Q3 - Q4 2025</h3>
            <p id="p-ten-p">Introduction <br> Vrakkaverse</p>
        </div>
    </div>
</div>
