* {
    font-family: Rubik;
}
#roadmaps{
    display: flex;
    flex-direction: column;
}
.roadbg{
    width: 100vw;
    height: 100vh; 
    justify-content: center; 
}
.title h2{  
    margin-top: 7%;
    text-align: center;
    color: #fff;
    font-size: 4vw;
    font-weight: 700; 
}
img{
    width: 90%;  
    margin: auto auto;
    display: flex;  
}
#vertical{
    display: none;
}
@media (max-width: 768px) {
    
    .title h2 {
        text-align: center;
        font-size: 7vw;
        margin-top: 0;
        font-weight: 700;
    }
    #horizontal{
        display: none;
    }
    #vertical{
        display: flex;
    }
    
}
@media (min-width: 769px) and (max-width: 1199px) {
    
    .title h2 {
        text-align: center;
        font-size: 7vw;
        margin-top: 0;
        font-weight: 700;
    }
    #horizontal{
        display: none;
    }
    #vertical{
        display: flex;
    }
    
}