*{
    font-family: Rubik;
}
#titleroadmap h2 {
    font-weight: 600;
    text-align: center;
    color: #fff;    
    font-size: 4.3vw;
    margin-top: 0;
    font-weight: 700;
    line-height: 71px;
}
/*Planet ONE*/
#p-one{
    width: 14vw;
    height: 34vh;
}
#p-one-title{
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 4vh;
}
#p-one-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet TWO*/
#p-two{
    width: 8vw;
    height: 30vh;
}
#p-two-title{
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}
#p-two-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet THREE*/
#p-three{
    width: 12vw;
    height: 43vh;
}
#p-three-title{
    color: #3671E9;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top:9vh;
}
#p-three-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet FOUR*/
#p-four{
    width: 8vw;
    height: 30vh;
}
#p-four-title{
    color: #3671E9;
    background: linear-gradient(180deg, #B4C0FE 0%, #9075D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}
#p-four-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet FIVE*/
#p-five{
    width: 12vw;
    height: 41vh;
}
#p-five-title{
    background: linear-gradient(180deg, #B4C0FE 0%, #9075D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top:11vh
}
#p-five-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet SIX*/
#p-six{
    width: 10vw;
    height: 30vh;
}
#p-six-title{
    background: linear-gradient(180deg, #B4C0FE 0%, #9075D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
}
#p-six-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet SEVEN*/
#p-seven{
    width: 9vw;
    height: 30vh;
}
#p-seven-title{
    color: #3671E9;
    background: linear-gradient(180deg, #8284FC 0%, rgba(141, 126, 180, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    margin-top: 13vh;
}
#p-seven-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet EIGHT*/
#p-eight{
    width: 12vw;
    height: 30vh;
}
#p-eight-title{
    background: linear-gradient(180deg, #B4C0FE 0%, #9075D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;    
    margin-top: 2vh;
}
#p-eight-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}

/*Planet NINE*/
#p-nine{
    width: 12vw;
    height: 44vh;
}
#p-nine-title{
    background: linear-gradient(180deg, #B4C0FE 0%, #9075D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;    
    margin-top: 12vh;
}
#p-nine-p{
    color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
}