<div id="roadmap">
    <div id="titleroadmap">
        <h2>Roadmap</h2>
    </div>
    <div id="roadmaplanets">
        <div id="p-one" style="display: row;">
            <h3 id="p-one-title">Q1 - 2023</h3>
            <p id="p-one-p">Oriented <br> Comunity </p>
            <img src="/assets/images/p1.webp" alt="">
        </div>
        <div id="p-two" style="display: row;">
            <h3 id="p-two-title">Q2 - 2023</h3>
            <p id="p-two-p">Whitelist </p>
            <img src="/assets/images/p2.webp" alt="" >
        </div>

        <div id="p-three" style="display: row;">
            <h3 id="p-three-title">Q2 - 2023</h3>
            <p id="p-three-p">Non reveal  <br> launch </p>
            <img src="/assets/images/p3.webp" alt="" >
        </div>

        <div id="p-four" style="display: row;">
            <h3 id="p-four-title">Q3 2023</h3>
            <p id="p-four-p">Revelation</p>
            <img src="/assets/images/p4.webp" alt="">
        </div>

        <div id="p-five" style="display: row;">
            <h3 id="p-five-title">Q3 - 2023</h3>
            <p id="p-five-p">Market Launch</p>
            <img src="/assets/images/p5.webp" alt="" >
        </div>

        <div id="p-six" style="display: row;">
            <h3 id="p-six-title">Q4 - 2023</h3>
            <p id="p-six-p">Engage people <br> in API </p>
            <img src="/assets/images/p6.webp" alt="" >
        </div>

        <div id="p-seven" style="display: row;">
            <h3 id="p-seven-title">Q4 - 2023</h3>
            <p id="p-seven-p">Grow and win </p>
            <img src="/assets/images/p7.webp" alt="" >
        </div>

        <div id="p-eight" style="display: row;">
            <h3 id="p-eight-title">Q1 -  2024</h3>
            <p id="p-eight-p">Sale and rent </p>
            <img src="/assets/images/p8.webp" alt="">
        </div>

        <div id="p-nine" style="display: row;">
            <h3 id="p-nine-title">Q2 - 2024</h3>
            <p id="p-nine-p">In app games </p>
            <img src="/assets/images/p9.webp" alt="">
        </div>
    </div>
</div>
