<div class="index" id="home">
  <div class="text">
    <p id="title">{{'Home.title' | translate}}</p>
    <h1 id="h1">{{'Home.h1' | translate}}</h1>
    <h1 style="    text-align: center;
    margin: 0 0 0 8%;">{{'Home.future' | translate}}</h1>
    <p id="desc">{{'Home.desc' | translate}}</p>
    <!--<button id="wall">Connect wallet</button>-->
  </div>
  <div class="nfts">
    <div class="nft1">
      <img src="assets/images/image15.webp" alt="">
      <p>{{'Home.nft1' | translate}}</p>
    </div>
    <div class="nft2">
      <img src="assets/images/image17.webp" alt="">
      <p>{{'Home.nft2' | translate}}</p>
    </div>
  </div>
</div>

