<div class="index">
  <div class="text">
    <p>ARE YOU READY TOO BE A HYPERHERO?</p>
    <h1><span>In your habits</span> Is your future</h1>
    <p>As a community we give you the tools to achieve your goals!</p>
    <button>Connect wallet</button>
  </div>
  <div class="nfts">
    <div class="nft1">
      <img src="assets/image15.png" alt="">
      <p>Hyperhéroe #203</p>
    </div>
    <div class="nft2">
      <img src="assets/image17.png" alt="">
      <p>Hyperhéroe #10567</p>
    </div>
  </div>
</div>
