<div class="index" id="home">
  <div class="text">
    <p id="title">ARE YOU READY TOO BE A HYPERHERO?</p>
    <h1 id="h1">In your habits</h1>
    <h1 style="    text-align: center;
    margin: 0 0 0 8%;">Is your future</h1>
    <p id="desc">As a community we give you the tools to achieve your goals!</p>
    <button id="wall">Connect wallet</button>
  </div>
  <div class="nfts">
    <div class="nft1">
      <img src="assets/images/image15.webp" alt="">
      <p>Hyperhéroe #203</p>
    </div>
    <div class="nft2">
      <img src="assets/images/image17.webp" alt="">
      <p>Hyperhéroe #10567</p>
    </div>
  </div>
</div>

