<div class="about" id="NFT">
    <div style="display:flex" class="divabout">
        <div class="imgabout">
            <img class="imga" src="../assets/images/nonreveal.webp" alt="">
        </div>
        <div style="display:row" class="textabout">
            <h3>Hyperhabits Multiverse</h3>
            <p id="firsttextbox">Join us to save our planet and help humanity Grow & Win. This collection is created to
                improve the quality of life in people and the realization of their good habits. </p>
            <p id="secondtextbox">A 12,000 NFT collection that potentiates the obtention of VRK tokens and allows you to
                get benefits within a very broad ecosystem!</p>

            <div style="display: flex;">
                <div>
                    <p id="textgray">Don't miss the reveal...</p>
                </div>
                <div style="display: flex;">
                    <div style="margin-left: 8vw; margin-top: 0.8vw;">
                        <img src="/assets/images/logovrakkaparalideres1.webp" alt="">
                    </div>
                    <div>
                        <p id='textb' style="margin-bottom: -1vw;">Vrakka</p>
                        <p id='textb' style="color: #7780A1;">Ecosystem</p>
                    </div>

                </div>
            </div>
            <div class="blackbox">
                <div style="display:flex">
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">Current price</p>
                        </div>
                        <div>
                            <strong id="price">250</strong>USD
                        </div>
                    </div>
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">Disclaimer</p>
                        </div>
                        <div id='textb' style="margin-top: 1.5vw;">
                            Non revelation sale
                        </div>
                    </div>
                </div>
                <div class="buttonbox">
                  <button [ngClass]="{'nel': connected}" id="conect2" (click)="conectWallet()">
                      Connect wallet
                  </button>
                  <button [ngClass]="{'nel': connected}" id="buy2">Buy</button>
              </div>

            </div>
        </div>
    </div>
</div>
