<div class="about" id="NFT">
    <div style="display:flex" class="divabout">
        <div class="imgabout">
            <img class="imga" src="../assets/images/nonreveal.webp" alt="">
        </div>
        <div style="display:row" class="textabout">
            <h3>{{'NFT.title' | translate}}</h3>
            <p id="firsttextbox">{{'NFT.firsttextbox' | translate}}</p>
            <p id="secondtextbox">{{'NFT.secondtextbox' | translate}}</p>

            <div style="display: flex;">
                <div>
                    <p id="textgray">{{'NFT.textgray' | translate}}</p>
                </div>
                <div style="display: flex;">
                    <div style="margin-left: 8vw; margin-top: 0.8vw;">
                        <img class='vrakkalg' src="/assets/images/logovrakkaparalideres1.webp" alt="">
                    </div>
                    <div>
                        <p id='textb' style="margin-bottom: -1vw;">Vrakka</p>
                        <p id='textb' style="color: #7780A1;">{{'NFT.ecosystem' | translate}}</p>
                    </div>

                </div>
            </div>
            <div class="blackbox">
                <div style="display:flex">
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">{{'NFT.price' | translate}}</p>
                        </div>
                        <div>
                            <strong id="price">250</strong>USD
                        </div>
                    </div>
                    <div style="display: row;" class="divbox">
                        <div>
                            <p id="textgray">{{'NFT.disclaimer' | translate}}</p>
                        </div>
                        <div id='textb' style="margin-top: 1.5vw;">
                            {{'VRK.nonRevelationSale' | translate}}
                        </div>
                    </div>
                </div>
                <div class="buttonbox">
                  <button [ngClass]="{'nel': this.connectService.isConnected}" id="conect2" (click)="connectWallet()">
                     {{'Buttons.connect' | translate}}
                  </button>
                  <button [ngClass]="{'nel': this.connectService.isConnected}" id="buy2">{{'Buttons.buy' | translate }}</button>
              </div>

            </div>
        </div>
    </div>
</div>
